.checkbox-wrapper {
  display: block;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid black;
  border-radius: 20px;

  .checkbox-label {
    user-select: none;
    text-decoration: none;

    &.strike {
      text-decoration: line-through;
    }
  }

  .checkbox {
    margin-right: 20px;
  }
}
